<h3>You can reach me by email at jamesjcyu@gmail.com</h3>

<hr />

<div>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24190.105180007286!2d-73.87876740088926!3d40.72323027714484!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25e394b6cc0b9%3A0xf15c2215b49863c4!2sRego%20Park%2C%20Queens%2C%20NY!5e0!3m2!1sen!2sus!4v1630547322226!5m2!1sen!2sus" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>