<main role="main" class="inner cover">
  <h1 class="cover-heading">Welcome</h1>
  <p class="lead">I am a full stack web developer with a passion for using technology to bring fun and joy to everyone. With more than 10 years of experience in the healthcare, I strive to utilize my skills to make navigating the healthcare system more efficient. I enjoy studying Japanese language, watching sumo and practicing nunchaku when I am not coding.</p>
  <p class="lead">
   <%= link_to 'About Me', about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</main>


